################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZarzadzaniePrzedsiebiorstwem.Web/obj/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.Web.pdb
/ZarzadzaniePrzedsiebiorstwem.Web/obj/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.Web.dll
/ZarzadzaniePrzedsiebiorstwem.Web/obj/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.Web.csproj.AssemblyReference.cache
/ZarzadzaniePrzedsiebiorstwem.Web/bin/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.Web.pdb
/ZarzadzaniePrzedsiebiorstwem.Web/bin/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.Web.dll
/ZarzadzaniePrzedsiebiorstwem.Web/bin/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.DAL.pdb
/ZarzadzaniePrzedsiebiorstwem.Web/bin/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.DAL.dll
/ZarzadzaniePrzedsiebiorstwem.Web/.vs/ZarzadzaniePrzedsiebiorstwem.Web/FileContentIndex/5d9bfc80-4bfd-44dd-b029-be2407014a99.vsidx
/ZarzadzaniePrzedsiebiorstwem.Web/.vs/ZarzadzaniePrzedsiebiorstwem.Web/FileContentIndex/27a99685-465f-4580-b2f3-0fd41732fc06.vsidx
/ZarzadzaniePrzedsiebiorstwem.Services/obj/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.Services.csproj.AssemblyReference.cache
/ZarzadzaniePrzedsiebiorstwem.Services/bin/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.DAL.pdb
/ZarzadzaniePrzedsiebiorstwem.Services/bin/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.DAL.dll
/ZarzadzaniePrzedsiebiorstwem.DAL/obj/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.DAL.pdb
/ZarzadzaniePrzedsiebiorstwem.DAL/obj/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.DAL.dll
/ZarzadzaniePrzedsiebiorstwem.DAL/bin/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.DAL.pdb
/ZarzadzaniePrzedsiebiorstwem.DAL/bin/Debug/net6.0/ZarzadzaniePrzedsiebiorstwem.DAL.dll
/ZarzadzaniePrzedsiebiorstwem.Web/.vs/ZarzadzaniePrzedsiebiorstwem.Web/v17/.suo
/ZarzadzaniePrzedsiebiorstwem.Model/ZarzadzaniePrzedsiebiorstwem.Model.csproj
*.vsidx
