@model ZarzadzaniePrzedsiebiorstwem.Model.Authentication.User

@Html.Partial("~/Views/PartialVertical.cshtml", Model)

<div class="main-container">
    <div class="flexbox-container">
        <div class="menu-container">
            <div class="menu-tasks-container">
                <div class="menu-bars-icon-container">
                    <p class="menu-par"><strong>Menu</strong></p>
                    <i class="fa-solid fa-bars fa-lg menu-bars-icon"></i>
                </div>
                <input id="menu-input" onclick="HidePlaceholder('menu-input');" onblur="ShowPlaceholder('menu-input');" class="menu-input" type="text" placeholder="Wyszukaj" />
                <p class="menu-tasks-par">ZADANIA</p>
                <div class="tasks-list-container">
                    <div class="task-list-items">
                        <div class="task-list-items-inside">
                            <p class="task-list-items-inside-item-first task-item-icon"><i id="icon-angles" class="fa-solid fa-angles-right fa-lg"></i></p>
                            <p class="task-list-items-inside-item-second text-item">Nadchodzące</p>
                            <p class="task-list-items-inside-item-third task-item-number">
                                @{
                                    DateTime currentDate = DateTime.Now.Date;
                                    var taskNumber = 0;

                                    @foreach (var item in Model.Planners) {
                                        DateTime dueDate = item.DueDate;
                                        if (dueDate > currentDate) {
                                            taskNumber += 1;        
                                        }
                                    }
                                    @taskNumber
                                }
                            </p>
                        </div>

                        <div class="task-list-items-inside">
                            <p class="task-list-items-inside-item-first task-item-icon"><i class="fa-solid fa-list-check fa-lg"></i></p>
                            <p class="task-list-items-inside-item-second text-item">Dzisiaj</p>
                            <p class="task-list-items-inside-item-third task-item-number">
                                @{
                                    var taskNumberToday = 0;

                                    @foreach (var item in Model.Planners) {
                                        DateTime dueDate = item.DueDate;
                                        if (dueDate == currentDate) {
                                            taskNumberToday += 1;
                                        }
                                    }
                                    @taskNumberToday
                                }
                            </p>
                        </div>

                        <div class="task-list-items-inside">
                            <p class="task-list-items-inside-item-first task-item-icon"><i class="fa-regular fa-calendar-days fa-lg"></i></p>
                            <p class="task-list-items-inside-item-second text-item">Kalendarz</p>
                            <p class="task-list-items-inside-item-third task-item-number">
                                @{
                                    var taskNumberAll = 0;
                                    @foreach (var item in Model.Planners) {
                                        taskNumberAll += 1;
                                    }
                                    @taskNumberAll
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-lists-container">
                <p class="menu-tasks-par">LISTY</p>
                <div class="tasks-list-container">
                    <div id="task-list-items" class="task-list-items">
                        @foreach (var item in Model.Planners) 
						{
                            List<String> taskItemList = new List<String>();
                            if (!taskItemList.Contains(item.TaskList)) {
                                taskItemList.Add(item.TaskList);

                                // obliczam zadania przyporządkowane do danej listy
                                int taskCount = Model.Planners.Count(p => p.TaskList == item.TaskList);

                                <div class="task-list-items-inside">
                                    <div class="task-list-items-inside-item-first list-item-bcg">
                                        <div class="color-item-config"></div>
                                    </div>
                                    <p class="task-list-items-inside-item-second text-list-item">@item.TaskList</p>
                                    <p class="task-list-items-inside-item-third list-item-number">@taskCount</p>
                                </div>
						    }
						}
                        <a id="before" href="#" onclick="CreateList();" class="overriden-button-a">
                            <div class="task-list-items-inside" style="height: 34px; margin-bottom: 20px; margin-top: 5px;">
                                <div style="margin-top: 10px;" class="task-list-items-inside-item-first">
                                    <i class="fa-solid fa-plus fa-lg"></i>
                                </div>
                                <p style="margin-top: 10px;" class="task-list-items-inside-item-second">Utwórz listę</p>
                                <p class="task-list-items-inside-item-third" style="border: none; background-color: transparent; box-shadow: none;"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="menu-tags-container" class="menu-tags-container">
                <p class="menu-tasks-par">TAGI</p>
                <div id="menu-tags-container-flex" class="menu-tags-row menu-tags-container-flex" style="justify-content: center; ">
                    <a id="create_tag" href="#" class="overriden-button-a" onclick="CreateTag();">
                        <div class="create_tag">
                            <i class="fa-solid fa-plus fa-2xs" style="margin-left: 5px;"></i>
                            <p>Utwórz tag</p>
                        </div>
                    </a>
                </div>
            </div>
                <div class="settings-container">
                    <div style="margin-left: 8px;">
                        <i class="fa-solid fa-sliders fa-lg"></i>
                    </div>
                    <p>Ustawienia</p>
                </div>
            
        </div>
        <div class="center-container">
            <div class="center-container-header">
                <div class="center-container-header-list">
                    <p id="header-list-par"><strong>Nadchodzące</strong></p>
                </div>
                <div class="center-container-header-number">
                    <div class="number-box-shadow">
                        <p id="header-list-number"></p>
                    </div>
                </div>
            </div>

            <div class="center-container-tasks">
                <div class="input-icon">
                    <i id="input-plus-icon" onclick="HideElement('input-plus-icon'); HideElement('input-text');" onblur="ShowElement('input-plus-icon','row-input'); ShowElement('input-text', 'row-input');" class="fa-solid fa-plus fa-lg icon-plus"></i>
                    <p id="input-text" onclick="HideElement('input-plus-icon'); HideElement('input-text');" onblur="ShowElement('input-plus-icon','row-input'); ShowElement('input-text', 'row-input');" class="input-text">Dodaj nowe zadanie</p>
                    <input id="row-input" onclick="HideElement('input-plus-icon'); HideElement('input-text');" onblur="ShowElement('input-plus-icon','row-input'); ShowElement('input-text', 'row-input');" class="row-input" />
                </div>
                <div class="tasks">
                    <div id="task-container" class="tasks-container">
                    </div>
                </div>
            </div>
        </div>
        <div class="item-container">
            <div class="task-information">
                <div class="task-information-header">
                    <p>Zadanie:</p>
                </div>
                <div class="task-information-header-input">
                    <input type="text" id="menu-input-task" onclick="HidePlaceholder('menu-input-task');" onblur="ShowPlaceholder('menu-input-task');" class="menu-input" placeholder="Odnów ubezpieczenie samochodu" style="width: 90%;">
                </div>
                <div class="task-information-header-description">
                    <p class="is-size-1">
                        <textarea id="textarea-input" onclick="HidePlaceholder('textarea-input');" onblur="ShowPlaceholder('textarea-input');" class="textarea my-textarea-input" placeholder="Dodaj opis"></textarea>
                    </p>
                </div>
                <div class="task-information-options">
                    <div class="list-category">
                        <div class="list-option"><p>Lista</p></div>
                        <div class="list-option-mark">
                            <div class="select is-small is-link">
                                <select id="select-list-task">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="due-date">
                        <div class="list-option"><p>Termin</p></div>
                        <div class="list-option-mark">
                            <div>
                                <input type="date" name="date"/>
                            </div>
                        </div>
                    </div>
                    <div class="list-tags">
                        <div class="list-option"><p>Tagi</p></div>
                        <div class="simple_tag_2">
                            <p>Tag 2</p>
                        </div>
                        <div class="create_tag">
                            <i class="fa-solid fa-plus fa-2xs" style="margin-left: 5px;"></i>
                            <p>Utwórz tag</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subtask-information">
                <div class="subtask-information-header">
                    <p>Podzadanie:</p>
                </div>
                <div class="subtask-information-list">
                    <div class="input-icon subtask-header-name">
                        <i id="subtask-icon" onclick="HideElement('subtask-icon'); HideElement('subtask-input-text');" onblur="ShowElement('subtask-icon', 'subtask-input'); ShowElement('subtask-input-text','subtask-input');" class="fa-solid fa-plus fa-lg icon-subtask"></i>
                        <p id="subtask-input-text" onclick="HideElement('subtask-icon'); HideElement('subtask-input-text');" onblur="ShowElement('subtask-icon', 'subtask-input'); ShowElement('subtask-input-text','subtask-input');" class="input-text-subtask">Dodaj nowe podzadanie</p>
                        <input id="subtask-input" onclick="HideElement('subtask-icon'); HideElement('subtask-input-text');" onblur="ShowElement('subtask-icon', 'subtask-input'); ShowElement('subtask-input-text','subtask-input');" class="row-input-subtask" />
                    </div>
                    <div id="subtask-container-list-items" class="subtasks-container-list-items">
                    </div>
                    <div class="subtask-information-buttons">
                        <div class="subtask-information-buttons-list">
                            <button class="delete-button"><p>Usuń zadanie</p></button>
                            <button class="save-button"><p>Zapisz zmiany</p></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var myData = @Html.Raw(Json.Serialize(Model));
</script>

<script src="~/js/planner.js"></script>