<section class="hero" style = "background-color: hsl(217, 71%, 41%)">
	<div class="hero-head">
		<nav class="navbar">
			<div class="container" style="text-align: center; justify-content: center; display: flex;">
				<div class="navbar-item" >
					<p class="is-size-3" style ="color:white">
						Zarządzanie Przedsiębiorstwem
					</p>
				</div>
			</div>
		</nav>
	</div>
</section>