@inject ZarzadzaniePrzedsiebiorstwem.Services.Interfaces.IUserService _userService

<header>

    <div id="authenticationStatusContainer">
        <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
                @{
                    string? sessionId = @_userService.GetSessionIdFromCookie();

                    if (!string.IsNullOrEmpty(sessionId)) {
                        <div class="navbar-item">
                            <a id="najedz" class="button is-active" asp-controller="User" asp-action="Wyloguj">
                                Wyloguj
                            </a>
                        </div>
                    } else {
                        <div class="navbar-item">
                            <a id="najedz" class="button is-active" asp-controller="User" asp-action="WidokRejestracji">
                                Zarejestruj
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a id="najedz" class="button is-active" asp-controller="User" asp-action="WidokLogowania">
                                Zaloguj
                            </a>
                        </div>
                    }
                }

                <div class="navbar-item">
                    <a id="najedz" class="button is-active" asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>