﻿
<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/ZarzadzaniePrzedsiebiorstwem.Web.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/bulma.min.css" />
	<link rel="stylesheet" href="~/css/basicStyling.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>ZarzadzaniePrzedsiebiorstwem</title>

	<style>
		html,
		body {
			margin: 0;
			padding: 0;
		}
	</style>

</head>
<body>

	<section class="hero is-white">
		<div class="hero-head">
			<nav class="navbar card" style="background: LINEAR-GRADIENT(120DEG, #00D1B2, #FFFFFF)">
				<div class="container">
					<div class="navbar-brand is-size-4">
						<div class="navbar-item">
							<a class="navbar-item">Magenary</a>
						</div>
						<span class="navbar-burger" data-target="navbarMenuHeroB">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</div>
					<div id="navbarMenuHeroB" class="navbar-menu is-active">
						<div class="navbar-end">
							<div class="navbar-item">
								<a id="najedz" class="button is-active" asp-controller="User" asp-action="WidokRejestracji">
									Zarejestruj
								</a>
							</div>

							<div class="navbar-item">
								<a id="najedz" class="button is-active" asp-controller="User" asp-action="WidokLogowania">
									Zaloguj
								</a>
							</div>

							<div class="navbar-item">
								<a id="najedz" class="button is-active">
									Wyloguj
								</a>
							</div>

							<div class="navbar-item">
								<a id="najedz" class="button is-active" asp-controller="Home" asp-action="Index">
									Home
								</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</section>


	<section class="section">
		<div class="container">
			@RenderBody()
		</div>
	</section>
</body>
</html>