<style>
    section.section {
        margin-top: 0;
        padding-top: 1.5rem;
        margin-bottom: 0;
        padding-bottom: 1.5rem;
        height: calc(100vh - 3rem);
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<section class="section" style="background: linear-gradient(120deg, #00D1B2, #FFFFFF)">
    <form>
       xx
    </form>
</section>