@model ZarzadzaniePrzedsiebiorstwem.Model.Authentication.User

@Html.Partial("~/Views/PartialVertical.cshtml", Model)

<div class="slider-body">
                <div class="slider-box">
                    <div class="slides">
                        <input type="radio" name="button" id="p1" checked>
                        <input type="radio" name="button" id="p2">
                        <input type="radio" name="button" id="p3">
                        <input type="radio" name="button" id="p4">
                        <input type="radio" name="button" id="p5">
                        <input type="radio" name="button" id="p6">
    
                        <div class="slide first">
                            <img class="photos" id="pic1" src="https://i.imgur.com/fKjVtp9.png">
                        </div>
                        <div class="slide">
                            <img class="photos" id="pic2" src="https://i.imgur.com/vSyy4AI.png">
                        </div>
                        <div class="slide">
                            
                        </div>
                        <div class="slide">
                            
                        </div>
                        <div class="slide">
                            
                        </div>
                        <div class="slide">
                            
                        </div>
    
                    <div class="buttons">
                        <label for="p1" class="but"></label>
                        <label for="p2" class="but"></label>
                        <label for="p3" class="but"></label>
                        <label for="p4" class="but"></label>
                        <label for="p5" class="but"></label>
                        <label for="p6" class="but"></label>
                    </div>

                    <div class="controls">
                        <span class="left-arrow"><i class="fa-solid fa-angle-left fa-2xl" style="color: #ffffff;"></i></span>
                        <span class="right-arrow"><i class="fa-solid fa-angle-right fa-2xl" style="color: #ffffff;"></i></span>
                    </div>
                    </div>
                </div>
                <script src="slider.js" type="text/javascript"></script>
                <link rel="stylesheet" href="~/css/slider.css" />
            </div>