@model ZarzadzaniePrzedsiebiorstwem.Model.Authentication.User

<style>
    section.section {
        margin-top: 0;
        padding-top: 1.5rem;
        margin-bottom: 0;
        padding-bottom: 1.5rem;
        height: calc(100vh - 3rem);
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    }
</style>

<section class="section">
    <div class="message-header is-primary">
        <p class="has-text-centered">Wprowadź dane do rejestracji w serwisie</p>
    </div>
    <form asp-controller="User" asp-action="RegisterAccount" method="post">
        <div class="field">
            <label asp-for="Login" class="label">Login</label>
            <input asp-for="Login" class="input is-medium is-fullwidth" type="text" placeholder="Login" />
        </div>
       
        <div class="field">
            <label asp-for="Haslo" class="label">Hasło</label>
            <input asp-for="Haslo" class="input is-medium is-fullwidth" type="password" placeholder="Haslo" />
        </div>

        <div class="field">
            <button type="submit" class="button">Zarejestruj</button>
        </div>
    </form>
</section>
