@model ZarzadzaniePrzedsiebiorstwem.Model.Authentication.User

<div class="login-body">
    <div class="login">
        <form asp-controller="User" asp-action="LoginUser" method="post">
            <h1>Logowanie</h1>
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-user fa-xs" style="color: #ffffff;"></i>
                </span>
                <input asp-for="Login" type="text" placeholder="Nazwa użytkownika" required>
            </div>
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-lock fa-xs" style="color: #ffffff;"></i>
                </span>
                <input asp-for="Haslo" type="password" placeholder="Hasło" required>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Zapamiętaj mnie</label>
                <a href="#">Przypomnij hasło</a>
            </div>
            <button type="submit" class="button">Zaloguj się</button>
            <div class="register-list">
                <p>Nie masz konta? <a href="#">Zarejestruj się!</a></p>
            </div>
        </form>
    </div>
</div>