@model ZarzadzaniePrzedsiebiorstwem.Model.Authentication.User 
@inject ZarzadzaniePrzedsiebiorstwem.DAL.EF.MyDbContext _myDbContext

@Html.Partial("~/Views/PartialVertical.cshtml", Model)

<nav id="primaryPanel" class="panel is-primary">
	<p class="panel-heading">
		Analizy Finansowe
	</p>
	<p class="panel-tabs">
		<a id="rodzajAnalizy" class="text">Rodzaj Analizy</a>
		<a id="okresRozliczeniowyPoczatek" class="text">Okres Rozliczeniowy - Początek</a>
		<a id="okresRozliczeniowyKoniec" class="text">Okres Rozliczeniowy - Koniec</a>
	</p>
</nav>

<link rel="stylesheet" href="~/css/WyswietlAnalizy.css" />
<script>
	var myData = @Html.Raw(Json.Serialize(Model));
</script>

<script src="~/js/WyswietlAnalizy.js"></script>
